@media screen and (min-width: 480px){

.container {width: 426px;}

/* ============Mobile Header==================== */
    
.menu-list{display:none;}

/* ============Hero section==================== */
.hero-section {
  max-width: 428px;
  margin: 0 auto;
  background: rgba(46, 47, 66, 0.7);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/images-web-studio/hero_image_tablet.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {.hero-section{background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/images-web-studio/hero_image_tablet@2x.jpg);}}

.hero-section-title {
margin: 0 auto;
max-width: 318px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #FFFFFF;
margin-bottom: 72px;
}
.hero-section-button {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: color 250ms var(--cubic), background 250ms var(--cubic);
}
.hero-section-button:hover {
  color: #ffffff;
  background: #404bbf;
}
.hero-section-button:focus,
.hero-section-button:active {
  color: #ffffff;
  background: #404bbf;
}
/* ===============Second section============ */

.second-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {.feature-list {
  display: flex;
  flex-direction: column;
}}



/* .feature-list {
  display: flex;
  flex-direction: column;
} */

.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 8px;
  }

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;}

  .text:not(:last-child) {margin-bottom: 72px;}










}







  
